table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #666;
}

.table-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.table-controls label {
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.data-source {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

.data-source a {
  color: #007bff;
  text-decoration: none;
}

.data-source a:hover {
  text-decoration: underline;
}

.app-info {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-info h3 {
  color: #333;
  margin-top: 0;
}

.app-info h4 {
  color: #555;
}

.app-info p {
  color: #666;
  line-height: 1.6;
}

.github-link {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.github-link a {
  display: inline-flex;
  align-items: center;
  color: #24292e;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 6px;
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  transition: background-color 0.2s;
}

.github-link a:hover {
  background-color: #ebedf0;
}

.github-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
